@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'TT Norms Pro';
		src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
			url('../public/fonts/TTNormsPro-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'TT Norms Pro';
		src: local('TT Norms Pro Italic'), local('TTNormsPro-Italic'),
			url('../public/fonts/TTNormsPro-Italic.woff2') format('woff2');
		font-weight: normal;
		font-style: italic;
	}

	@font-face {
		font-family: 'TT Norms Pro';
		src: local('TT Norms Pro Medium'), local('TTNormsPro-Medium'),
			url('../public/fonts/TTNormsPro-Medium.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'TT Norms Pro';
		src: local('TT Norms Pro Medium Italic'), local('TTNormsPro-MediumItalic'),
			url('../public/fonts/TTNormsPro-MediumItalic.woff2') format('woff2');
		font-weight: 500;
		font-style: italic;
	}

	html {
		-webkit-tap-highlight-color: transparent;
		@apply scroll-smooth bg-white text-black selection:bg-black selection:text-white;
	}

	img {
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}
}

@layer components {
	nav .menu span {
		transition-property: transform, top;
		transition-delay: 0s, 0.15s;
		transition-duration: 0.3s;
	}

	nav.-open .menu span {
		top: 0;
		transition-property: top, transform;
		transition-delay: 0s, 0.15s;
		transition-duration: 0.3s;
	}

	nav.-open .menu span:first-child {
		transform: rotate(45deg);
	}

	nav.-open .menu span:last-child {
		transform: rotate(-45deg);
	}

	.ss-btn {
		@apply pointer-events-none relative inline-flex items-center justify-center overflow-hidden rounded-full px-8 py-4 text-lg font-medium after:absolute after:inset-0 after:rounded-full after:border after:border-black after:border-opacity-10 after:transition-colors after:duration-200;
	}

	.ss-btn-title {
		@apply relative z-[1] block overflow-hidden;
	}

	.ss-btn-title span {
		transition-property: color, transform;
		transition-duration: 0.2s, 0.4s;
		@apply relative block origin-top-left group-hover:-translate-y-[150%] group-hover:-skew-y-6 group-hover:text-white;
	}

	.ss-btn-title span::after {
		content: attr(data-text) !important;
		@apply absolute left-0 top-[150%] block origin-top-left skew-y-6 transition-transform duration-500;
	}

	.ss-btn-ripple {
		@apply pointer-events-none absolute -top-1/2 -left-1/4 h-[200%] w-[150%] translate-y-3/4 rounded-[50%] bg-black transition-transform duration-300 group-hover:translate-y-0;
	}

	.ss-link {
		@apply relative inline-block origin-left transition-transform duration-500 hover:-translate-y-[120%] hover:skew-y-6 after:hover:-skew-y-6;
	}

	.ss-link::after {
		content: attr(data-text) !important;
		@apply absolute top-[120%] block origin-left skew-y-12 transition-transform;
	}

	.ss-link-underline {
		@apply relative inline-block pb-1 before:absolute before:left-0 before:bottom-0 before:h-px before:w-full before:bg-black/30 after:absolute after:left-0 after:bottom-0 after:h-px after:w-full after:scale-x-0 after:bg-current after:transition-transform after:duration-500 after:hover:scale-x-100;
	}

	.container {
		@apply mx-auto w-full max-w-[1488px] px-16 py-40 xl:px-10 lg:px-8 lg:py-32 md:px-6 md:py-24;
	}

	.outline-text {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
			1px 1px 0 #000;
		@apply text-white;
	}
}
